@{
    ViewBag.Title = "About";
}


<div id="wrapper">

    <div class="singleheader">
        <div class="container">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-title">
                    <h3>公司简介</h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <li>@Html.ActionLink("首页", "Index")</li>
                        <li class="active">公司简介</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="colon3">
        <div class="container">

            <div id="content" class="col-lg-9 col-md-9 col-sm-9">
                <div style="font-size:16px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2 class="general-title">
                            <span>关于我们</span>
                        </h2>
                        <p>
                            苏州陇赣机电工程有限公司是一家专业从事空气能、太阳能集中供热（生活热水）；工业高温热泵（电镀厂用.80度温度）、高温烘干热泵、别墅地源热泵、中央空调、水泵及净水设备的新能源科技环保公司，专注苏州空气能热泵市场十余年；坚持以用户为中心；深受广大用户信赖与好评，历经十余载的发展与沉淀当前用户已达到1500多家，公司从产品品质、工程安装工艺、售后服务全方面建立起完善的管理体系，在业内享有良好的声誉。
                        </p><p>
                            24小时的售后服务为用户解决后顾之忧。专业的热泵服务技能深受用户喜爱：不论热泵品牌、产地、大小、任何故障，都能有效排除，恢复正常运行。
                        </p><p>

                            公司合作商：申银牌SYRB系列热泵、美的热泵、四季沐歌热泵、，长虹热泵、佳时利、上海雨上等专业品牌。
                        </p><p>

                            节能减排，低碳生活。空气能显著的节能效果顺应国家节能减排的产业导向，“节能减排，服务社会”是苏州陇赣企业理念的集中体现，公司凭借多年的技术积累，致力于打造长三角性价比最高的空气能服务商。
                        </p><p>

                            我们立足华东，放眼全球，与您携手共创美好未来！
                        </p><p>

                            <strong class="text-warning">
                                空气源工作原理介绍：
                            </strong>
                        </p><p>
                            空气能热泵是利用“逆卡诺循环”原理，通过少量的电能输入将空气中的热量搬运到水中去，空气能的制热量=吸收空气中的热量+消耗的电能，由于大部分热量来自于空气，所以空气能热泵节能效果显著。
                            日常生活经验就能使我们明白空气能工作的过程，空气能的工作原理与空调相同，夏季空调外机吹出的热风其实就是室内的被空调搬运出的热量和输入的电能产生的，不同的是空气能热泵是把空气中热量搬运到水中。以下是空气能工作的原理图：
                        </p>
                        <p><img src="~/images/q1.jpg"/></p>
                    </div>
                </div>
            </div>

            <div id="content" class="col-lg-3 col-md-3 col-sm-6">
                <h2 class="general-title">
                    <span>我们的服务</span>
                </h2>

                <div class="single-stat">
                    <div class="col-lg-6 col-md-6 col-sm-6" data-effect="slide-bottom">
                        <div class="stat">
                            @{
                                List<Longgan.Models.Home.Product> allProducts = new Longgan.Logics.Home.ProductsLogic().GetProducts();
                                int productsCount = allProducts.Count;
                            }
                            <span class="stat-count">@productsCount</span>
                            <p class="stat-detail">产品数量</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6" data-effect="slide-bottom">
                        <div class="stat">
                            @{
                                List<Longgan.Models.Home.SetCase> allCases = new Longgan.Logics.Home.CaseLogic().GetCases();
                                int casesCount = allCases.Count;
                            }
                            <span class="stat-count">@casesCount</span>
                            <p class="stat-detail">成功案例</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

</div>
