@{
    ViewBag.Title = "售后";
}

<div id="wrapper">

    <div class="singleheader">
        <div class="container">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-title">
                    <h3>售后服务</h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <li>@Html.ActionLink("首页", "Index")</li>
                        <li class="active">售后服务</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="colon3">
        <div class="container">

            <div id="content" class="col-lg-9 col-md-9 col-sm-9">
                <div  style="font-size:16px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p>打造苏州最专业的热泵服务商与最及时专业的售后。</p>
                        <p>
                            在如今庞大的空气源热泵用户群中，空气源（能）应用更加广泛，大到居民区集中供水、酒店宾馆、工厂、学校、工地、足浴桑拿，小到家庭理发店空气源热水应用等，及时专业的空气源热泵热水在安装与售后维护、及时维修保养已显现的尤为重要，热水是酒店重要的一个组成环节，不及时服务会造成酒店声誉及负面影响。
                        </p><p>
                            快速高效的售后是目前大多数同行纠结且无法彻底解决的难题；这有很多客观原因：厂家人员鞭长莫及；经销商精力有限；一般维修人员一知半解等等，公司秉承为社会创造价值；为用户创造实惠的服务理念特组建一支技术过硬，反应快速，服务及时的专业队伍为广大用户排忧解难。
                        </p><p>

                            <strong class="text-warning">
                                我们承诺3小时内到达现场，快速解决问题。
                            </strong>
                        </p>
                        <img src="~/images/AfterSale.jpg" />
                        <p>
                            <strong class="text-info">
                                售后优势
                            </strong>
                        </p><p>
                            <strong class="text-warning"> 一、一般厂家接报修后要2-3天才能到位，我们接报修后3小时到位</strong>
                        </p><p>
                            <strong class="text-warning">  二、技术精通,经验资深：百分之九十以上故障90分钟内解决，所修热泵部位保修45天</strong>
                        </p><p>

                            <strong class="text-warning">  三、诚信敬业：二十四小时快速服务</strong>
                        </p>
                        <p><strong class="text-warning"> 四、永久保障：一经服务；定期回访</strong> </p>
                        <p>我们服务24小时待命24小时</p>
                        <p>
                            售后热线：<strong class="text-success"> 13812755349, 15050101075, 0512-65653142</strong>
                        </p>
                    </div>
                </div>
            </div>


        </div>

    </section>


</div>

