
@{
    ViewBag.Title = "P3";
}

<section class="colon12">

    <!-- START CONTENT AND SIDEBAR -->
    <div class="container general">

        <img src="~/images/shuire3.jpg" />

    </div><!-- end container -->
    <!-- END CONTENT AND SIDEBAR -->

</section>

